@import "tailwindcss";
@import "../stylesheets/actiontext.css";
@plugin "daisyui";

:root {
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97.466% 0.011 259.822);
  --color-base-300: oklch(93.268% 0.016 262.751);
  --color-base-content: oklch(41.886% 0.053 255.824);
  --color-primary: oklch(86% 0.127 207.078);
  --color-primary-content: oklch(12% 0.042 264.695);
  --color-secondary: oklch(12% 0.042 264.695);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: #4d86e1;
  --color-accent-content: oklch(11.988% 0.038 335.171);
  --color-neutral: oklch(44% 0.017 285.786);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: #4de1a8;
  --color-info-content: oklch(17.625% 0.017 214.515);
  --color-success: oklch(84% 0.238 128.85);
  --color-success-content: oklch(12% 0.042 264.695);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(17.834% 0.009 71.47);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(14.618% 0.022 20.076);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

:root {
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(97% 0.014 254.604);
  --color-base-300: oklch(93% 0.032 255.585);
  --color-base-content: #1e1e1e;
  --color-primary: #13425c;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #229cd7;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #36b98c;
  --color-accent-content: oklch(96% 0.018 272.314);
  --color-neutral: oklch(92% 0.013 255.508);
  --color-neutral-content: oklch(12% 0.042 264.695);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@layer {
  @keyframes fadeOut {
    0%,
    60% {
      /* Stay fully visible for 60% of the animation duration */
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .animate-fade-out {
    animation: fadeOut 0.5s ease-out forwards;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    background-color: #fff !important;
    -moz-autofill-background: black;
  }
}
