<div class="bg-primary w-full flex flex-col items-center justify-between p-4 text-white">
  <%= link_to root_path, class: 'text-xl w-20 h-20' do %>
    <%= image_tag 'logo.png', alt: 'DayTrip Logo', class: 'w-full object-contain' %>
  <% end %>

  <div class="flex flex-row gap-2 pt-2">
    <a href="mailto:support@daytrip.com" class="hover:underline link">Contact Support</a>
    <a href="https://www.buymeacoffee.com/tylerriehl" target="_blank" class="hover:underline link">Buy Me a Coffee</a>
  </div>
</div>