<% if ride.trips.any? %>
  <div class="mt-4 p-4 bg-base-200 rounded-lg">
    <h3 class="font-medium mb-2 flex items-center">
      <%= lucide_icon('users', class: 'h-5 w-5 mr-2') %>
      Passengers
    </h3>

    <ul class="space-y-3">
      <% ride.trips.includes(:user).each do |trip| %>
        <%= render 'passenger_card', trip: trip %>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="text-sm text-gray-500 mt-4 p-4 bg-base-200 rounded-lg">
    <div class="flex items-center gap-2">
      <%= lucide_icon('info', class: 'h-5 w-5') %>
      <span>No passengers have booked this ride yet.</span>
    </div>
  </div>
<% end %>
