    
<div class="alert alert-error mb-4">
  <div class="flex">
    <div class="flex-shrink-0">
      <span class="text-gray-500 flex items-center">
        <%= lucide_icon('alert-circle', class: 'h-5 w-5') %>
      </span>
    </div>
    <div class="ml-3">
      <h3 class="font-medium">Please fix the following errors:</h3>
      <ul class="mt-1 list-disc list-inside">
        <% ride.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
