<div class="alert mb-4">
  <div class="flex">
    <div class="flex-shrink-0">
      <span class="text-dark flex items-center">
        <%= lucide_icon('info', class: 'h-5 w-5') %>
      </span>
    </div>
    <div class="ml-3">
      <p>
        Please provide details for your upcoming ride to help passengers plan their trip.
      </p>
    </div>
  </div>
</div>
