<div class="bg-cover bg-center min-h-screen px-6 sm:px-20">
  <h1 class="font-bold text-4xl text-center my-8">Explore Trips</h1>
  <div class="w-full flex justify-center md:justify-end">
    <% if user_signed_in? && current_user.driver.present? %>
      <%= render 'components/new_ride_button' %>
    <% end %>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mx-auto p-4">
    <%= render partial: 'ride_card', collection: @rides, as: :ride %>
  </div>
</div>
